body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #242121;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
.navbar{
    display: flex;
    justify-content: space-around;
    margin-inline: auto;
    background: #292828;
    align-items: center;
    padding: 10px;
  }
  .navbar-1{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
  
  }
  .navbar-1> p{
    font-weight: 50;
    margin: 0px;
  }
  .navbar-1> h2{
    margin: 0px;
  }
  .navbar-2{
    display: flex;
    color: #808080;
    align-items: center;
  }
  .navbar-2 > div{
    display: flex;
  padding: 4.5px;
  padding-inline: 25px;
    background: #373737;
    border-radius:  4px 0px 0px 4px;
  }
  .navbar-3{
    display: flex;
    padding-inline: 10px;
    justify-content: space-around;
    color:#E7E2E2CF;
    
    gap: 20px;
  }
  
  input {
    padding: 2px;
    padding-inline: 5px;
    width: 40vw;
    height: 20px;
    outline: none;
    color: white;
    color: #808080;
    border-radius: 0px 4px 4px 0px;
  background: #373737;
  border: none;
  }
  
  .navbar-2 > button {
    padding: 4px;
    padding-inline: 25px;
    margin-left:10px ;
    background: #292828;
    border: 1px solid rgba(255, 255, 255, 0.50);
    color: rgba(255, 255, 255, 0.50);
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  }